In [1]:
import pandas as pd

In [18]:
feature_importance = pd.read_csv("feature_importance-2021-03-29-14-28.csv")
feature_importance

,Feature,Individual_Feature_Importance,Pearson_Correlation,Spearman_Correlation,Kendall_Correlation
0,saving_ratio_equal_frequency,0.785872,0.398174,0.395500,0.338785
1,saving_ratio_reciprocal,0.757642,-0.153609,-0.402766,-0.331451
2,account_check_status_no checking account,0.669442,-0.317860,-0.317860,-0.317860
3,credit_history_mean_encoder,0.640718,0.282946,0.261876,0.246177
4,account_check_status_< 0 DM,0.632852,0.272951,0.272951,0.272951
5,duration_in_month_equal_frequency,0.621855,0.198116,0.192809,0.168880
6,credit_history_critical account/ other credits...,0.609435,-0.223485,-0.223485,-0.223485
7,purpose_ordinal_encoder,0.591671,0.188018,0.197574,0.175703
8,purpose_count_frequency,0.591671,-0.035629,-0.059320,-0.052754
9,savings_... < 100 DM,0.588983,0.166764,0.166764,0.166764
10,property_count_frequency,0.579111,-0.085180,-0.068720,-0.063018
11,property_ordinal_encoder,0.579111,0.139351,0.137370,0.125973
12,housing_own,0.566361,-0.132355,-0.132355,-0.132355
13,property_real estate,0.557934,-0.118307,-0.118307,-0.118307
14,savings_unknown/ no savings account,0.554096,-0.126426,-0.126426,-0.126426
15,purpose_domestic appliances,0.552497,-0.107158,-0.107158,-0.107158

In [3]:
permutation_feature_importance= pd.read_csv("permutation_feature_importance-2021-03-29-14-29.csv")

In [4]:
prediction_output = pd.read_csv("predictions_output-2021-03-29-14-30.csv")

In [5]:
summary_df = pd.read_csv("summary_df-2021-03-29-14-27.csv")

In [6]:
accuracy_report = pd.read_csv("accuracy_report-2021-03-29-14-28.csv")

In [14]:
my_dict={}
dataframelist=[feature_importance,permutation_feature_importance,prediction_output,summary_df,accuracy_report]
for l in dataframelist:
        for i in l.columns:
             my_dict[i]= list(l[i])

In [9]:
for i in feature_importance.columns[1:5]:
    print(i)

Individual_Feature_Importance
Pearson_Correlation
Spearman_Correlation
Kendall_Correlation

In [17]:
my_dict.keys()

dict_keys(['Feature', 'Individual_Feature_Importance', 'Pearson_Correlation', 'Spearman_Correlation', 'Kendall_Correlation', 'Permutation_Importance_Train', 'Permutation_Importance_Test', 'Permutation_Importance_Std_Train', 'Permutation_Importance_Std_Test', 'saving_ratio_original', 'account_check_status_original', 'duration_in_month_original', 'credit_history_original', 'purpose_original', 'savings_original', 'property_original', 'housing_original', 'ID', 'saving_ratio_equal_frequency', 'duration_in_month_equal_frequency', 'saving_ratio_reciprocal', 'account_check_status_no checking account', 'account_check_status_< 0 DM', 'credit_history_critical account/ other credits existing (not at this bank)', 'purpose_domestic appliances', 'savings_... < 100 DM', 'savings_unknown/ no savings account', 'property_real estate', 'housing_own', 'purpose_count_frequency', 'property_count_frequency', 'purpose_ordinal_encoder', 'property_ordinal_encoder', 'credit_history_mean_encoder', 'predictions', 'predictions_binary', 'Column_Name', 'Unique_Data', 'Missing_Data', 'Missing_Percentage', 'Data_Types', 'Count', 'Mean', 'Std', 'Min', '25%', '50%', '75%', 'Max', 'TP', 'TN', 'FP', 'FN', 'Sensitivity', 'Specificity', 'Accuracy', 'Total_observations', 'Precision', 'Recall', 'F1_score', 'Log_loss', 'Roc_auc_score', 'Dataset'])

In [27]:
my_dict["TP"][0]

520.0

In [25]:
accuracy_report[accuracy_report["Dataset"]=="train"]

,TP,TN,FP,FN,Sensitivity,Specificity,Accuracy,Total_observations,Precision,Recall,F1_score,Log_loss,Roc_auc_score,Dataset
0,520.0,130.0,4.0,96.0,0.992366,0.575221,0.866667,750.0,0.992366,0.844156,0.912281,0.335341,0.931521,train

In [43]:
summary_df

,Column_Name,Unique_Data,Missing_Data,Missing_Percentage,Data_Types,Count,Mean,Std,Min,25%,50%,75%,Max
0,ID,1000,0,0.0,uint16,1000.0,500.5,288.82,1.0,250.75,500.5,750.25,1000.0
1,saving_ratio,100,0,0.0,float32,1000.0,0.35,0.23,0.02,0.19,0.32,0.46,1.02
2,debt_saving_ratio,100,0,0.0,float32,1000.0,0.33,0.23,0.0,0.17,0.3,0.44,1.0
3,default,2,0,0.0,uint8,1000.0,0.3,0.46,0.0,0.0,0.0,1.0,1.0
4,account_check_status,4,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
5,duration_in_month,33,0,0.0,uint8,1000.0,20.9,12.06,4.0,12.0,18.0,24.0,72.0
6,credit_history,5,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
7,purpose,10,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
8,credit_amount,921,0,0.0,uint16,1000.0,3271.26,2822.74,250.0,1365.5,2319.5,3972.25,18424.0
9,savings,5,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
10,present_emp_since,5,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
11,installment_as_income_perc,4,0,0.0,uint8,1000.0,2.97,1.12,1.0,2.0,3.0,4.0,4.0
12,personal_status_sex,4,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
13,other_debtors,3,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
14,present_res_since,4,0,0.0,uint8,1000.0,2.84,1.1,1.0,2.0,3.0,4.0,4.0
15,property,4,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
16,age,53,0,0.0,uint8,1000.0,35.55,11.38,19.0,27.0,33.0,42.0,75.0
17,other_installment_plans,3,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
18,housing,3,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
19,credits_this_bank,4,0,0.0,uint8,1000.0,1.41,0.58,1.0,1.0,1.0,2.0,4.0
20,job,4,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
21,people_under_maintenance,2,0,0.0,uint8,1000.0,1.16,0.36,1.0,1.0,1.0,1.0,2.0
22,telephone,2,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
23,foreign_worker,2,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature

In [22]:
summary_df

,Column_Name,Unique_Data,Missing_Data,Missing_Percentage,Data_Types,Count,Mean,Std,Min,25%,50%,75%,Max
0,ID,1000,0,0.0,uint16,1000.0,500.5,288.82,1.0,250.75,500.5,750.25,1000.0
1,saving_ratio,100,0,0.0,float32,1000.0,0.35,0.23,0.02,0.19,0.32,0.46,1.02
2,debt_saving_ratio,100,0,0.0,float32,1000.0,0.33,0.23,0.0,0.17,0.3,0.44,1.0
3,default,2,0,0.0,uint8,1000.0,0.3,0.46,0.0,0.0,0.0,1.0,1.0
4,account_check_status,4,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
5,duration_in_month,33,0,0.0,uint8,1000.0,20.9,12.06,4.0,12.0,18.0,24.0,72.0
6,credit_history,5,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
7,purpose,10,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
8,credit_amount,921,0,0.0,uint16,1000.0,3271.26,2822.74,250.0,1365.5,2319.5,3972.25,18424.0
9,savings,5,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
10,present_emp_since,5,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
11,installment_as_income_perc,4,0,0.0,uint8,1000.0,2.97,1.12,1.0,2.0,3.0,4.0,4.0
12,personal_status_sex,4,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
13,other_debtors,3,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
14,present_res_since,4,0,0.0,uint8,1000.0,2.84,1.1,1.0,2.0,3.0,4.0,4.0
15,property,4,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
16,age,53,0,0.0,uint8,1000.0,35.55,11.38,19.0,27.0,33.0,42.0,75.0
17,other_installment_plans,3,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
18,housing,3,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
19,credits_this_bank,4,0,0.0,uint8,1000.0,1.41,0.58,1.0,1.0,1.0,2.0,4.0
20,job,4,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
21,people_under_maintenance,2,0,0.0,uint8,1000.0,1.16,0.36,1.0,1.0,1.0,1.0,2.0
22,telephone,2,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature
23,foreign_worker,2,0,0.0,object,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature,categorical_feature

In [58]:
my_dict["prediction_columns"]=prediction_output.columns
my_dict["create_chart"]=prediction_output.groupby("account_check_status_original")[["account_check_status_original","saving_ratio_original"]].mean().reset_index()
my_dict["create chart1"]=list(my_dict["create_chart"].iloc[:,0])
my_dict["create chart2"]=list(my_dict["create_chart"].iloc[:,1])

In [39]:
accuracy_report_transpose =accuracy_report.drop(["Sensitivity","Dataset"],axis=1).T.reset_index()

In [40]:
Accuracy Report TP

,TP,TN,FP,FN,Sensitivity,Specificity,Accuracy,Total_observations,Precision,Recall,F1_score,Log_loss,Roc_auc_score,Dataset
0,520.0,130.0,4.0,96.0,0.992366,0.575221,0.866667,750.0,0.992366,0.844156,0.912281,0.335341,0.931521,train
1,175.0,37.0,1.0,37.0,0.994318,0.500000,0.848000,250.0,0.994318,0.825472,0.902062,0.385079,0.868090,test

In [41]:
accuracy_report_transpose.columns=["indexes","train_accuracy_report","test_accuracy_report"]

In [42]:
accuracy_report_transpose

               indexes  train_accuracy_report  test_accuracy_report
0                   TP             520.000000            175.000000
1                   TN             130.000000             37.000000
2                   FP               4.000000              1.000000
3                   FN              96.000000             37.000000
4          Specificity               0.575221              0.500000
5             Accuracy               0.866667              0.848000
6   Total_observations             750.000000            250.000000
7            Precision               0.992366              0.994318
8               Recall               0.844156              0.825472
9             F1_score               0.912281              0.902062
10            Log_loss               0.335341              0.385079
11       Roc_auc_score               0.931521              0.868090

In [46]:
prediction_output

,saving_ratio_original,account_check_status_original,duration_in_month_original,credit_history_original,purpose_original,savings_original,property_original,housing_original,ID,saving_ratio_equal_frequency,...,savings_unknown/ no savings account,property_real estate,housing_own,purpose_count_frequency,property_count_frequency,purpose_ordinal_encoder,property_ordinal_encoder,credit_history_mean_encoder,predictions,predictions_binary
0,0.24,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,unknown/ no savings account,real estate,own,1,3,...,1,1,1,0.281333,0.280000,2,0,0.137441,0.108123,0
1,0.28,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,... < 100 DM,real estate,own,2,4,...,0,1,1,0.281333,0.280000,2,0,0.335821,0.249195,0
2,0.42,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),... < 100 DM,real estate,own,3,6,...,0,1,1,0.041333,0.280000,9,0,0.137441,0.080390,0
3,0.07,< 0 DM,42,existing credits paid back duly till now,radio/television,... < 100 DM,if not A121 : building society savings agreeme...,for free,4,0,...,0,0,0,0.190667,0.226667,3,2,0.335821,0.422053,0
4,0.13,< 0 DM,24,delay in paying off in the past,car (new),... < 100 DM,unknown / no property,for free,5,1,...,0,0,0,0.240000,0.160000,5,3,0.309859,0.461895,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.29,no checking account,12,existing credits paid back duly till now,radio/television,... < 100 DM,real estate,own,996,4,...,0,1,1,0.190667,0.280000,3,0,0.335821,0.086523,0
996,0.06,< 0 DM,30,existing credits paid back duly till now,car (used),... < 100 DM,if not A121 : building society savings agreeme...,own,997,0,...,0,0,1,0.105333,0.226667,0,2,0.335821,0.342358,0
997,0.39,no checking account,12,existing credits paid back duly till now,domestic appliances,... < 100 DM,"if not A121/A122 : car or other, not in attrib...",own,998,6,...,0,0,1,0.281333,0.333333,2,1,0.335821,0.104988,0
998,0.31,< 0 DM,45,existing credits paid back duly till now,domestic appliances,... < 100 DM,unknown / no property,for free,999,4,...,0,0,0,0.281333,0.160000,2,3,0.335821,0.425048,0
999,0.32,0 <= ... < 200 DM,45,critical account/ other credits existing (not ...,car (used),100 <= ... < 500 DM,"if not A121/A122 : car or other, not in attrib...",own,1000,4,...,0,0,1,0.105333,0.333333,0,1,0.137441,0.138366,0

In [60]:
class DataStore():
    feature_importance = pd.read_csv("feature_importance-2021-03-29-14-28.csv")
    permutation_feature_importance = pd.read_csv("permutation_feature_importance-2021-03-29-14-29.csv")
    prediction_output = pd.read_csv("predictions_output-2021-03-29-14-30.csv")
    summary_df = pd.read_csv("summary_df-2021-03-29-14-27.csv")
    accuracy_report = pd.read_csv("accuracy_report-2021-03-29-14-28.csv")
    my_dict = {}
    dataframelist=None
    round_list=None
    select_box=[]
    select_box1=[]
    url = None

data = DataStore()

In [94]:
data.my_dict["prediction_columns"] = data.prediction_output.columns
data.my_dict["prediction_output_numeric_columns"] = data.prediction_output.select_dtypes(exclude=['object']).columns
data.my_dict["prediction_output_categorical_columns"] = data.prediction_output.select_dtypes(include=['object']).columns

In [96]:
data.my_dict["prediction_columns"].insert(0,"Select Feature")

Index(['Select Feature', 'saving_ratio_original',
       'account_check_status_original', 'duration_in_month_original',
       'credit_history_original', 'purpose_original', 'savings_original',
       'property_original', 'housing_original', 'ID',
       'saving_ratio_equal_frequency', 'duration_in_month_equal_frequency',
       'saving_ratio_reciprocal', 'account_check_status_no checking account',
       'account_check_status_< 0 DM',
       'credit_history_critical account/ other credits existing (not at this bank)',
       'purpose_domestic appliances', 'savings_... < 100 DM',
       'savings_unknown/ no savings account', 'property_real estate',
       'housing_own', 'purpose_count_frequency', 'property_count_frequency',
       'purpose_ordinal_encoder', 'property_ordinal_encoder',
       'credit_history_mean_encoder', 'predictions', 'predictions_binary'],
      dtype='object')

In [ ]:
    try:
        data.select_box = request.form.get("one")
        if len(data.select_box) == 1:
            data.select_box = data.select_box[0]
        data.select_box = data.select_box[0]
        data.select_box1 = request.form.get("ones")
        data.select_box1 = data.select_box1[0]


    except:
        data.select_box = data.my_dict["prediction_output_categorical_columns"][0]
        data.select_box1 = data.my_dict["prediction_output_numeric_columns"][0]

In [ ]:

    try:
        data.select_box = request.form.getlist("one")
        if len(data.select_box) == 1:
            data.select_box = data.select_box[0]
        data.select_box = data.select_box[0]
        data.select_box1 = request.form.getlist("ones")
        data.select_box1 = data.select_box1[0]


    except:
        data.select_box = data.my_dict["prediction_output_categorical_columns"][0]
        data.select_box1 = data.my_dict["prediction_output_numeric_columns"][0]



    try:
        if data.select_box not in data.my_dict["prediction_output_numeric_columns"]:

                a = data.select_box
                b = data.select_box1
                data.my_dict["a"] = a
                data.my_dict["b"] = b
                data.my_dict_df = data.prediction_output.groupby(a)[b].mean().reset_index()
                data.my_dict["create label1"] = list(data.my_dict_df.iloc[:, 0])
                data.my_dict["create chart2"] = list(data.my_dict_df.iloc[:, 1])
                
                data.my_dict["chart_type"] = "bar"
        else:

                a = data.select_box
                b = data.select_box1
                data.my_dict["a"] = a
                data.my_dict["b"] = b
                data.my_dict["create label1"] = list(data.my_dict_df.loc[:, a])
                data.my_dict["create chart2"] = list(data.my_dict_df.loc[:, b])
                
                data.my_dict["chart_type"] = "line"
    except:
        pass

In [65]:
create_chart()

DataError: No numeric types to aggregate